/* NAVBAR CSS */

.navbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  color: rgba(5, 86, 136, 1) !important;
  text-align: center;
  font-size: 25px;
  height: 90px;
  padding: 0 !important;
}

.nav-item {
  margin-left: 50px;
}

/* PROMOTION SECTION CSS */
.promotion-title {
  font-size: 30px;
  font-weight: 300;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  text-align: center;
}
.promotion-container {
  padding: 8% 5%;
}
.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.card {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

/* BOOK A ROOM FORM CSS INCLUDING BACKGROUND IMAGE */
#bookRoomDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 75vh;
  font-size: 25px;

  background: url("../images/bgpic.jpg") no-repeat 50% 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bookRoomForum {
  color: rgba(5, 86, 136, 1);
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
}

#bookRoomForum:hover {
  background-color: white;
}

form {
  margin-top: 3em;
  padding: 2em;
  border: none;
  max-width: 800px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  grid-gap: 20px;
}

label {
  padding-top: 10px;
}

button {
  background: none;
  border: 2px solid rgba(5, 86, 136, 1);
  color: rgba(5, 86, 136, 1);
  border-radius: 0;
  padding: 5px 15px;
}
button:hover {
  background-color: rgba(5, 86, 136, 1);
  color: white;
}
input,
select {
  border: none;
  background: none;
  border-bottom: 2px solid rgba(5, 86, 136, 0.8);
  color: rgba(5, 86, 136, 1);
}
::placeholder {
  color: rgba(5, 86, 136, 1);
}

/* SCROLL THROUGH BACKGROUND IMAGE */
.background-float-container {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  background: url("../images/homePage.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* INFORMATION SECTION CSS (IN THE NEWS) */
.news-image-container {
  width: 100%;
  text-align: center;
}
.news-review-container {
  width: 100%;
  padding: 0 100px;
  margin-top: 50px;
}

.news-text-container {
  padding: 15px;
}

.news-title {
  font-size: 30px;
  font-weight: 300;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
